html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f9fcff;
  font-size: 1.2rem;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  /* Prevents linear gradient repeat; prevents scroll */
  background-attachment: fixed;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  letter-spacing: 1px;
  background-color: #3d3d3d;
  color: white;
  margin: 0;
  padding: 10px 30px 10px 30px;
  font-weight: normal;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  background: #f7f7f7;
  width: 60%;
  border-radius: 5px;
  margin: 5rem 0;
  /* offset-x | offset-y | blur-radius | spread-radius. Spread radius: Positive values cause the shadow to expand and grow bigger, negative values cause shadow to shrink */
  box-shadow: 0 10px 10px -5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* Makes UL block-level flex container. Needed for completed items to move to end of list (see .completed ruleset) */
  display: flex;
  flex-direction: column;
}

li {
  background: white;
  /* Distance from top of the first line of text to the top of second */
  line-height: 1.5rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  color: #666;
  padding: 0.2rem 5px 0.2rem 20px;
  position: relative;
  cursor: pointer;
}

/* Sets color of even li elements */
li:nth-child(even) {
  background: #e9e9e9;
}

li:last-child {
  border-radius: 0 0 5px 5px;
}

input {
  font-size: 1em; /* Text is smaller than li text without this */
  background: #e0e0e0;
  width: 100%;
  height: 3.4rem;
  /* Order: top, right, bottom, left */
  padding: 13px 13px 13px 20px;
  /* Includes padding and border in element's total width and height */
  box-sizing: border-box;
  border: 3px solid linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

/* Pseudo-element that sets input placeholder text color */
input::placeholder {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  color: #a6a9ad;
}

input[type=text] {
  font-family: "Open Sans", sans-serif;
  color: #495057;
}

/* Sets appearance of input box boundaries when user clicks inside */
input:focus {
  outline: none;
}

.completed {
  color: grey;
  text-decoration: line-through;
  /* Specifies order of item in flex container (see ul ruleset). Works because other items have order set to 0 by default */
  order: 1;
}

/* Styles '+' sign. Top property makes element's top edge move above/below its normal position (in this case, lower) */
.fa-plus {
  position: relative;
  cursor: pointer;
}

/* Styles Bootstrap trash can icon box. Note default is 0px wide (which hovering changes in next CSS ruleset) */
span {
  background: #e74c3c;
  height: 3.4rem;
  width: 0;
  opacity: 0;
  position: absolute;
  /* Sets right edge to right edge of nearest positioned ancestor, li element */
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s linear;
  cursor: pointer;
}

/* Sets span content (Bootstrap trash can icon) to be 35px wide and fully opaque upon hover over list item */
li:hover span {
  width: 8%; /* Applies to icon background */
  opacity: 1.0;
}

/* Mobile phones/extra small screens */
@media screen and (max-width: 767px) {
  .container {
    margin: 1em auto;
    width: 90%;
  }

  li:hover span {
    width: 15%; /* Applies to icon background */
    opacity: 1.0;
  }

  h1 {
    padding: 5px 25px 5px 25px;
  }
}

/* Large screens */
@media screen and (min-width: 1400px) {
  .container {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 45%;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    width: 40%;
  }
}